/.idea
/.docker
/.vagrant
/node_modules
/public/build
/public/hot
/public/storage
/public/robots.txt
/public/js
/public/css
mix-manifest.json
/storage/*.key
/vendor
.env
.lando.yml
.phpunit.result.cache
laravel-echo-server.json
laravel-echo-server.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yaml
Dockerfile
