.info-table-block {
    border: 1px solid #E9EAEC;
    border-radius: 8px;

    @media screen {
        @media (max-width: 575px) {
            font-size: 14px;
        }
    }

    &:not(:last-child) {
        margin: 0 0 80px 0;

        @media screen {
            @media (max-width: 575px) {
                margin: 0 0 64px 0;
            }
        }
    }

    .block-heading {
        padding: 32px;
        background: #E9EAEC;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.48px;
        border-radius: 8px 8px 0 0;

        @media screen {
            @media (max-width: 991px) {
                padding: 24px;
                line-height: 26px;
                font-size: 20px;
            }

            @media (max-width: 575px) {
                padding: 16px;
            }
        }
    }

    .inner-content {
        padding: 32px;

        @media screen {
            @media (max-width: 1199px) {
                padding: 24px;
            }

            @media (max-width: 575px) {
                padding: 16px;
            }
        }

        .text-block-name {
            display: block;
            margin: 0 0 24px 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 1px;
            color: #616571;
            text-transform: uppercase;
        }

        h2 {
            margin: 0 0 16px 0;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.48px;
        }

        h3 {
            margin: 0 0 8px 0;
            font-size: 16px;
            line-height: 20px;
        }

        ul {
            margin: 0 0 24px 0;

            li {
                position: relative;
                padding: 0 0 0 23px;

                &:not(:last-child) {
                    margin: 0 0 9px 0;

                    @media screen {
                        @media (max-width: 575px) {
                            margin: 0 0 2px 0;
                        }
                    }
                }

                p {
                    &:last-child {
                        margin: 0;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 9px;
                    left: 8px;
                    width: 6px;
                    height: 6px;
                    background-color: #48515a;
                    border-radius: 50%;
                }
            }
        }

        .table {
            width: 100%;
            margin: 0 0 40px 0;

            @media screen {
                @media (max-width: 575px) {
                    margin: 0 0 27px 0;
                }
            }

            tr {
                td {
                    padding: 40px 48px 32px 0;
                    border-bottom: 1px solid #E9EAEC;
                    vertical-align: top;

                    .text-block-name {
                        line-height: 16px;
                        margin: 0 0 16px 0; 
                        font-size: 16px;
                        letter-spacing: normal;
                        text-transform: none;
                        color: #0D2441;

                        @media screen {
                            @media (max-width: 575px) {
                                margin: 0 0 12px 0; 
                                font-size: 16px;
                            }
                        }
                    }

                    @media screen {
                        @media (max-width: 1299px) {
                            padding-right: 25px;
                        }

                        @media (max-width: 1199px) AND (min-width: 992px) {
                            display: block;
                            width: 100% !important;
                            padding: 0 0 30px 0;
                            border: 0;

                            ul {
                                margin: 0 !important;
                            }

                            &:last-child {
                                border-bottom: 1px solid #E9EAEC;
                            }
                        }

                        @media (max-width: 820px) {
                            display: block;
                            width: 100% !important;
                            padding: 0 0 30px 0;
                            border: 0;

                            ul {
                                margin: 0 !important;
                            }

                            &:last-child {
                                border-bottom: 1px solid #E9EAEC;
                            }
                        }

                        @media (max-width: 575px) {
                            padding: 0 0 20px 0;
                        }
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    ul {
                        li {
                            padding: 0;

                            &::before {
                                content: none;
                            }
                        }
                    }

                    .star {
                        font-style: normal;
                        color: #E72E2C;
                    }

                    &.logo {
                        width: 20.58%;
                    }

                    &[colspan="3"] {
                        padding-top: 0;

                        .info-warning {
                            margin: 0;
                        }
                    }
                }

                &:first-child {
                    td {
                        padding-top: 0;
                    }
                }
            }

            &.no-border {
                margin: 0;

                tr {
                    td {
                        padding-bottom: 0;
                        border-bottom: none;

                        @media screen {
                            @media (max-width: 820px) {
                                &.logo {
                                    padding-bottom: 30px;
                                }
                            }
                        }
                    }
                }
            }

            &.stores-addresses {
                tr {
                    td {
                        &.address {
                            width: 28.23%;

                            .address-name {
                                position: relative;
                                display: block;
                                padding-left: 20px;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    top: 3px;
                                    left: 0;
                                    width: 16px;
                                    height: 16px;
                                    background: url('../images/location-pin-icon.svg') left center no-repeat;
                                }
                            }
                        }

                        &.working-time {
                            width: 21.17%;
                        }

                        &.payment-method {

                        }
                    }
                }
            }

            &.delivery-options {
                tr {
                    td {
                        .text-block-name {
                            margin: 0 0 19px 0;
                        }

                        ul {
                            margin: 0;

                            li {
                                padding: 0;
                                margin: 0 0 16px 0;

                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }

                        &.logo {
                            width: 20.58%;
                        }

                        &.delivery-fee {
                            width: 28.23%;
                        }

                        &.payment-method {
                            ul {
                                li {
                                    margin: 0 0 5px 0;

                                    &:last-child {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        p {
            margin: 0 0 9px 0;
        }

        .info-warning {
            margin-top: 32px;
            padding: 16px;
            background: #FDF0F0;
            color: #CD2C2C;
            border-radius: 6px;

            h5 {
                margin: 0 0 10px 0;
                font-size: 14px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 1px;
                color: #CD2C2C;
                text-transform: uppercase;
            }

            p {
                &:last-child {
                    margin:0;
                }
            }

            ul {
                li {
                    &::before {
                        background-color: #cc2c2c;
                    }
                }
            }
        }
    }

    p {
        &:not(:last-child) {
            margin: 0 0 24px 0;
        }
    }
}
